<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login Page</title>
</head>
<style>
        form {border: 3px solid #131212;}
        input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #e3d7d7;
      }
        button {
        background-color: #d84528;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
}
        button:hover {
        opacity: 0.8;
}
        .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #2cdc35;
}
      
</style>
<body>
    <h2> LOGIN Page</h2>
    <form method="post">
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
    
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
            
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
</body>
</html>
